html,
body {
  height: 100%;
  margin: 0;
}
.main {
  height: 100%;
  background: url(../img/bg.png) #e7342f center center no-repeat;
  background-size: contain;
  position: relative;
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
}
.main .content-box {
  height: 100%;
  width: 100%;
  margin: auto;
  position: relative;
}
.main .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
}
.main .content .item {
  position: relative;
  top: -6%;
  margin: auto;
  -webkit-flex: none;
  flex: none;
}
.main .content .num-box {
  width: 40%;
  height: 0;
  padding-bottom: 18%;
  overflow: hidden;
}
.main .content .num-box .first {
  text-align: right;
}
.main .content .num-box .second {
  text-align: left;
}
.main .content .num-box > div {
  width: 50%;
  float: left;
}
.main .content .num-box > div img {
  width: 90%;
}
.main .content .time-box {
  width: 18%;
  height: 0;
  padding-bottom: 18%;
}
.main .content .time-box img {
  width: 100%;
}
.main .content .btn {
  width: 40%;
  cursor: pointer;
  animation: heart 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.main .operate-box {
  display: block;
  position: absolute;
  height: 100px;
  left: 0;
  right: 0;
  bottom: 0;
}
.audio-box {
  display: none;
}
@media screen and (max-device-aspect-ratio: 16/9) {
  .main .content-box {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }
}
@media (min-width: 800px) {
  .main .operate-box {
    display: none;
  }
}
@keyframes heart {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(0, -1.5%) scale(1.1);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
